<h1>Add a Restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name  %>
  <%= f.input :address, rows: 2 %>
  <%= f.input :phone_number, as: :tel%>
  <%= f.input :category, collection: Restaurant::CATEGORIES,  as: :radio_buttons %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", restaurants_path(@restaurants), class: "btn btn-primary" %>
