<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %> </p>
<p><%= @restaurant.phone_number %> </p>
<p><%= @restaurant.category %> </p>

<h3>Reviews</h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= "Comment: #{review.content} |" %>
      <%= "Rating: #{review.rating}" %>
      <%= "Date: #{review.created_at}" %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
